# Step 1 - Scraping

In [338]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser

# NASA Mars News

In [4]:
# URL of page to be scraped
url='https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [5]:
# Retrieve page with the requests module
response = requests.get(url)

In [7]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response.text, 'html.parser')

In [53]:
# results are returned as an iterable list
results = soup.find_all('div', class_="slide")

In [56]:
# Loop through returned results
for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        news_title = result.find(class_="content_title").text
        # Identify and return paragraph to listing
        news_p = result.find(class_="rollover_description_inner").text

        # Print results only if title, and paragraph are available
        if (news_title and news_p):
            print('-------------')
            print(news_title)
            print(news_p)
    except AttributeError as e:
        print(e)

-------------


Mars Helicopter Attached to NASA's Perseverance Rover



The team also fueled the rover's sky crane to get ready for this summer's history-making launch.

-------------


NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes



After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.

-------------


10.9 Million Names Now Aboard NASA's Perseverance Mars Rover



As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.

-------------


Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover



NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

-------------


NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network



Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.

-------------


NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget



Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return.

# JPL Mars Space Images - Featured Image

In [347]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [348]:
# URL of page to be scraped
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [349]:
html = browser.html
    # Parse HTML with Beautiful Soup
soup2 = bs(html, 'html.parser')
    # Retrieve all elements that contain information
images = soup2.find_all('a', class_="fancybox")

In [350]:
image_url=[]
for image in images:
    link=image['data-fancybox-href']
    image_url.append(link)

In [351]:
complete_link='https://www.jpl.nasa.gov' + link

In [354]:
browser.quit()

# Mars Weather

In [391]:
# URL of page to be scraped
url3='https://twitter.com/marswxreport?lang=en'

In [392]:
# Retrieve page with the requests module
response3 = requests.get(url3)

In [393]:
# Create BeautifulSoup object; parse with 'html.parser'
soup3 = bs(response3.text, 'html.parser')

In [412]:
# results are returned 
results3 = soup3.find("div", class_="js-tweet-text-container")

In [414]:
mars_weather=results3.find("p", class_="tweet-text").text

# Mars Facts

In [416]:
# URL of page to be scraped
url4 = 'https://space-facts.com/mars/'

In [417]:
tables = pd.read_html(url4)

In [418]:
df=tables[0]
df.columns = ['Name', 'Value']
df.head()

                   Name                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [419]:
df.set_index('Name', inplace=True)
df.head()

                                              Value
Name
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [421]:
df.to_html('table.html')

# Mars Hemispheres

In [339]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [340]:
# URL of page to be scraped
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5)

In [341]:
html = browser.html
    # Parse HTML with Beautiful Soup
soup5 = bs(html, 'html.parser')
    # Retrieve all elements that contain book information
results5 = soup5.find_all('h3')

In [342]:
hemisphere_image_urls=[]
dict={}

In [343]:
for result in results5:
    browser.click_link_by_partial_text(result.text)
    html51 = browser.html
    soup51 = bs(html51, 'html.parser')
    results51 = soup51.find_all('div', class_='downloads')
    link=results51[0].find('a')['href']
    dict['title']=result.text
    dict['img_url']=link
    hemisphere_image_urls.append(dict)
    dict={}
    browser.back()

In [345]:
browser.quit()